################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/LearnOpenGL/config
/.vs/LearnOpenGL/v16/ipch/AutoPCH/cbddcb924239346c
/.vs/LearnOpenGL/v16/Browse.VC.opendb
/.vs/LearnOpenGL/v16/Browse.VC.db-wal
/.vs/LearnOpenGL/v16/Browse.VC.db-shm
/.vs/LearnOpenGL/v16
/Debug
